body{
	
background:#eeeeee ;
	margin:0px;
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#222222;
}
h1{font: 400 28px/30px 'Bree Serif', Georgia, serif; color:#222222;}
h2{font: 400 18px/22px 'Bree Serif', Georgia, serif; color:#222222;}
h3{font: 400 14px/16px 'Bree Serif', Georgia, serif; color:#222222;}
ul{margin:0px; padding:0px;}
a {text-decoration:underline; color:#000000;}
a:hover {color:#979797;}
a img{border:0px;}

#container{
	max-width:950px;
	margin:0px auto 100px auto;
	background:#DDDDDD; 
	overflow:auto;
	padding-bottom:100px;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:864px;
	height:85px;
	background-color:#777777;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}

#header #main-menu{float:right; padding-top:45px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}
#header #logo h1{
	float:left;
	font: 400 30px/32px 'Bree Serif', Georgia, serif;
}

#header a {text-decoration:none; color:#000000;}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:115px;}
#about h1{float:left;}
#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #222222;}



/****************************************************/
/* RESEARCH SECTION */
/****************************************************/

#research{margin:0px 43px; padding-top:115px;}

#research h1{float:left;}
#research .content{overflow:auto; margin-bottom:30px}
#research .content img{float:left; margin-right:40px; border:5px solid #222222;}

/****************************************************/
/* TEACHING SECTION */
/****************************************************/

#teaching{margin:0px 43px; padding-top:115px;}
#teaching .content{
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(48%, 1fr));
} 
#teaching .content li {
  display: flex;
  flex-direction: column;
}
#teaching .wide {  
  grid-column: 1 / -1;
}

#teaching .tall {  
  grid-row-end: span 2;
}


/****************************************************/
/* Notes SECTION */
/****************************************************/

#notes{margin:0px 43px; padding-top:115px;}

#notes .content{
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(48%, 1fr));
} 
#notes .content li {
  display: flex;
  flex-direction: column;
}
#notes .wide {  
  grid-column: 1 / -1;
}


#notes .manyitems {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    line-height:15px;
}
#notes a{text-decoration:none; color:#000000;}
#notes a:hover {color:#979797;}
/****************************************************/
/* Connect SECTION */
/****************************************************/

#connect{margin:0px 43px; padding-top:115px;}
#connect .col{
	width:235px;
	float:left;
}
#connect .content{overflow:auto;}
#connect .col-mid{margin:0px 65px;}

/****************************************************/
/* ACKNOWLEDGMENT */
/****************************************************/
#footer{left: 0;
    bottom: 0;}

/****************************************************/
/* MISC */
/****************************************************/



.top-divider, .bottom-divider{
	width:100%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}
