h1 {font-family: arial; margin-left:0.5cm}
h2 {font-family: arial; margin-left:0.5cm}
h3 {font-family: arial; margin-left:0.5cm}
h4 {font-family: arial; margin-left:0.5cm}
p {font-family: arial; font-size:75%; margin-left:1cm}
.menu {text-decoration:none;}
.grey {color:grey; text-decoration:none}
body {background: RGB(240,240,240);}
